@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<!--Menu-->
<h1>Our selection of pizzas</h1>
@foreach (var pizza in State.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.Name
        </div>
        <div class="col text-right">
            @($"{pizza.Price:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@SpicinessImage(pizza.Spiciness)" alt="@pizza.Spiciness" height="40" width="100" />
        </div>
        <div class="col">
            <button class="btn btn-success" @onclick="@(()=>AddToBasket(pizza))">Add</button>
        </div>
    </div>
}
<!--End Menu-->
<!--Shopping Basket-->
@if (State.Basket.Orders.Any())
{
    <h1 class="">Your current order</h1>
    @foreach (var (orderedPizza, pos) in State.Basket.Orders.Select((id, pos) => (State.Menu.GetPizza(id), pos)))
    {
        <div class="row mb-2">
            <div class="col">
                @orderedPizza?.Name
            </div>
            <div class="col text-right">
                @($"{orderedPizza?.Price:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger" @onclick="@(()=>RemoveFromBasket(pos))">Remove</button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>

  <div class="row">
    <div class="col"> Total:</div>
    <div class="col text-right font-weight-bold">
        @($"{State.TotalPrice:0.00}") </div>
         <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    
}
<!--End Shopping Basket-->
<!--Customer Entry-->
<h1 class="mt-2 mb-2">Pleas enter your details below</h1>
<EditForm Model="@State.Basket.Customer" OnValidSubmit="PlaceOrder">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset>
        <div class="row mb-2">
            <label for="name" class="col-2">Name:</label>
            <input class="col-6" id="name" @bind="State.Basket.Customer.Name" />
        </div>
        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(()=>State.Basket.Customer.Name)" />
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-2" for="street">Street:</label>
            <input class="col-6" id="street" @bind="State.Basket.Customer.Street" />
        </div>
        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(()=>State.Basket.Customer.Street)" />
            </div>
        </div>
        <div class="row mb-2">
            <label for="city" class="col-2">City:</label>
            <input class="col-6" id="city" @bind="State.Basket.Customer.City" />
        </div>
        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(()=>State.Basket.Customer.City)" />
            </div>
        </div>
        <div class="row mb-2">
            <button class="mx-auto w-25 btn btn-success" @onclick="PlaceOrder">Checkout</button>
        </div>
    </fieldset>
</EditForm>

<!--End Customer Entry-->
@State.ToJson()

    @code {
        private State State { get; } = new State();
        private string SpicinessImage(Spiciness spiciness) => $"images/{spiciness.ToString().ToLower()}.png";
        private void AddToBasket(Pizza pizza) => State.Basket.Add(pizza.Id);
        private void RemoveFromBasket(int pos) => State.Basket.RemoveAt(pos);
        private void PlaceOrder(){
            Console.WriteLine("Placing order");
        }
        protected override void OnInitialized()
        {
            base.OnInitialized();
            State.Menu.Add(
            new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy));
            State.Menu.Add(
            new Pizza(2, "Margarita", 7.99M, Spiciness.None));
            State.Menu.Add(
            new Pizza(3, "Diabolo", 9.99M, Spiciness.Hot));
        }
    }
